* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  max-width: 100%;
  font-family: 'Alkalami', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0px auto;
}
header{
  background-image: url();
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(97, 153, 13);
}
nav ul{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0);

}
.nav_item{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 15px;
}
nav ul li a{
  font-size: 16px;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin-left: 25px;
  line-height: 28px;
  font-weight: 500;
  color: white;
  align-items: center;
  border-bottom: 3px solid  rgb(97, 153, 13);
}
nav ul li a:hover{
  color: rgba(148, 209, 148, 0.536);
}
nav ul li a:active{
  border-bottom: 3px solid yellow;
}
nav .logo{
  max-height: 30px;
  max-width: 65px;
  padding: 0 10px;
  display: inline;
}
h2{
  background-image: url(/pictures/background-flora-spring-closeup-petal.jpg);
  background-repeat: no-repeat;
  background-position: relative;
  background-size: 100% 100%;
  height: 200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 35px;

}

/* about */

.back {
  max-height: 600px;
  padding: 20px ;
  background-color: rgba(128, 128, 128, 0.252);
}
.information {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  max-height: 300px;
  margin: 50 auto;
  padding: 30px 0;
}
.video{
  display: inline-block;
  align-items: center;
  margin: 0 auto;

}

  /* photo  page */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* comment section style */
.white-row2{
  background-color: white;
  height: 80px;
  max-width: 60%;
  margin-top: 80px;
  align-items: center;
}
.comments-h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
.row_cards{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgba(203, 203, 191, 0.548);
}
.row_cards .col-4{
  max-width: 400px;
  margin: 20px;
}
.row_cards .col-3 img{
  max-height: 400px;
  max-width: 400px;
}
.row_cards .col-4 .card-text{
  background-color: white;
}
.col-4 h4{
  text-align: center;
  padding-top: 15px;
}
.col-4 .position{
  padding-top: 15px ;
  margin-bottom: 8px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}
.col-4 .bio{
  font-family: Roboto;
  color: rgb(43, 40, 40);
  text-align: center;
  font-size: 11pt;
  margin: 15px 30px;
  line-height: 25px;
  padding: 18px 0;
  line-height: 1.55;
  font-weight: 200;
}
/* photo */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.contact-details p{
  padding: 20px;
  text-align: center;
  line-height: 30px;
}
.links{
  display: flex;
  justify-content: center;
}
.links a img{
  margin: 45px 15px;
  border-radius: 20px;
  max-height: 75px;
  max-width: 80px;
  
}
.row.one {
  display: flex;
}
.row.one .col-7{
  background-color: white;
}
.row.two{
  display: flex;
}
.row.two .col-7{
  background-color: white;
}
.row.three{
  height: 50px;
  max-width: 900px ;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}
main{
  background-color: rgba(187, 187, 187, 0.214);
}
